<!DOCTYPE html>
<html lang="en" style="font-size: 10px">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><email-notice></email-notice></title>

    <style type="text/css">
      @media screen and (max-width: 768px) {
        .mail-header {
          font-size: 1.2rem !important;
          margin-bottom: 1.6rem !important;
        }

        .mail-body {
          padding: 1.2rem 0 !important;
        }

        .d-flex.f-wrap {
          flex-direction: column;
          align-items: flex-start !important;
        }

        .d-flex.f-wrap > .d-flex-item:not(:last-child) {
          margin-bottom: 0.8rem;
        }

        table td {
          padding: 0.8rem 0.8rem !important;
        }

        .header-customer {
          font-size: 1.2rem !important;
        }
      }
    </style>
  </head>
  <body
    style="
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
      font-family: 'Inter', sans-serif;
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      line-height: 1.5;
    "
  >
    <div class="header" style="background-color: #1ec0f2; color: #fff; padding: 2.4rem 0;">
  <div class="container" style="width: 100%; max-width: 70rem; margin: 0 auto; padding: 0 1.2rem; box-sizing: border-box">
      <div class="header-ctn" style="display: flex; align-items: center; justify-content: space-between; gap: 1.2rem; padding: 0;">
          <div class="header-logo" style="width: max-content; max-width: calc(100% * (4 / 8)); height: 5rem;  margin-top: auto; margin-bottom: auto; display: inline-block">
              <a href="#" class="header-logo-link" style="display: block; width: 100%; height: 100%;">
                  <img src="https://app.mona.host/logo/logo_full_dark.png" alt="" style="width: 100%; height: 100%; object-fit: contain;">
              </a>
          </div>
      </div>
  </div>
</div>

    <main class="main">
      <div
        class="container"
        style="
          width: 100%;
          max-width: 70rem;
          margin: 0 auto;
          padding: 0 1.2rem;
          box-sizing: border-box;
        "
      >
        <div class="mail-box" style="color: #5f5f5f">
          <div
            class="mail-body"
            style="
              margin: 0 auto;
              font-size: 1.2rem;
            "
          >
            <h1 style="text-align: center;">Qu&ecirc;n mật khẩu</h1>
<p>Xin ch&agrave;o {{ fullname }},</p>
<p>Đ&acirc;y l&agrave; m&atilde; OTP của bạn. M&atilde; OTP sẽ bị hết hạn trong 5 ph&uacute;t.</p>
<p style="text-align: center;"><span style="font-size: 18pt; background: #1ec0f2; margin: 0 auto; width: max-content; padding: 10px 25px; color: #fff; border-radius: 4px;">{{ otp }}</span></p>
<p>Vui l&ograve;ng kh&ocirc;ng chia sẻ m&atilde; OTP n&agrave;y với bất kỳ ai v&agrave; để đảm bảo an to&agrave;n, MONA.Host khuyến nghị bạn n&ecirc;n đổi mật khẩu 6 th&aacute;ng 1 lần.</p>
          </div>
            <div class="desc">
  <p>
    Nếu bạn có câu hỏi hoặc cần hỗ trợ nào, vui lòng liên hệ với
    <span style="color: #3a3a3a; font-weight: 600">The MONA</span> qua địa chỉ
    email
    <a
      href="mailto:info@themona.global"
      style="color: #2686ec; font-weight: 600; text-decoration: none"
      >info@themona.global</a
    >
    hoặc hotline
    <a
      href="tel:1900636648"
      style="color: #f5851e; font-weight: 600; text-decoration: none"
      >1900 636 648</a
    >.
  </p>
  <p>
    Xin cảm ơn một lần nữa về sự ủng hộ của Quý khách và chúng tôi mong muốn
    được phục vụ Quý khách trong tương lai.
  </p>
  <p>Trân trọng.</p>
</div>
          </div>
        </div>
      </div>
    </main>
    <div class="footer"
    style="background-color: #1ec0f2; font-size: 1.2rem; color: #E0E0E0; padding: 2.4rem 0;">
    <div class="container"
        style="width: 100%; max-width: 70rem; margin: 0 auto; padding: 0 1.2rem; box-sizing: border-box">
        <div class="footer-logo"
            style="width: max-content; max-width: calc(100% * (5 / 8)); height: 4.5rem; margin-bottom: 1.6rem;">
            <a href="#" class="footer-logo-link" style="display: block; width: 100%; height: 100%;">
                <img src="https://app.mona.host/logo/logo_full_dark.png" alt=""
                    style="height: 100%; object-fit: contain;">
            </a>
        </div>
        <div class="desc" style="margin-bottom: 1.2rem; display: inline-block;">
            <p style="margin: 0; margin-bottom: 0.8rem;">Nếu bạn có thắc mắc hoặc cần trợ giúp, hãy
                liên hệ với chúng tôi!</p>
            <p style="margin: 0;">Địa chỉ: 1073/23 Đ. Cách Mạng Tháng 8, P.7, Tân Bình, Thành phố Hồ
                Chí Minh 72100</p>
        </div>
        <div class="d-flex f-wrap"
            style="display: flex; justify-content: space-between; align-items: center; text-transform: uppercase;">
            <div class="d-flex-item"
                style="margin-top: auto; margin-bottom: auto; display: inline-block; vertical-align: -webkit-baseline-middle;">
                <p style="margin: 0;">
                    © All rights reserved.
                </p>
            </div>
            <div class="d-flex-item" style="margin-left: auto; display: inline-block; float: right">
                <div class="d-flex" style="display: flex; align-items: center;">
                    <div class="d-flex-item"
                        style="margin-top: auto; margin-bottom: auto; display: inline-block; vertical-align: super;">
                        <p style="margin: 0; display: inline-block;">
                            ĐIỀU KHOẢN
                        </p>
                    </div>
                    <div class="d-flex-item" style="display: inline-block;">
                        <ul class="social-list"
                            style="display: flex; align-items: center; margin: 0; margin-left: 0.8rem; list-style: none; padding: 0;">
                            <li class="social-item"
                                style="margin-left: 0.8rem; display: inline-block; width: 2.4rem; height: 2.4rem;"><a href="#"
                                    style="display: flex; align-items: center; justify-content: center; width: 2.4rem; height: 2.4rem;"><img
                                        src="https://mona.host/wp-content/uploads/2023/07/social-fb.png"
                                        alt=""
                                        style="width: 100%; height: 100%; object-fit: contain; filter: brightness(0) invert(0.7);"></a>
                            </li>
                            <li class="social-item"
                                style="margin-left: 0.8rem; display: inline-block; width: 2.4rem; height: 2.4rem;"><a href="#"
                                    style="display: flex; align-items: center; justify-content: center; width: 2.4rem; height: 2.4rem;"><img
                                        src="https://mona.host/wp-content/uploads/2023/07/social-in.png"
                                        alt=""
                                        style="width: 100%; height: 100%; object-fit: contain; filter: brightness(0) invert(0.7);"></a>
                            </li>
                            <li class="social-item"
                                style="margin-left: 0.8rem; display: inline-block; width: 2.4rem; height: 2.4rem;"><a href="#"
                                    style="display: flex; align-items: center; justify-content: center; width: 2.4rem; height: 2.4rem;"><img
                                        src="https://mona.host/wp-content/uploads/2023/07/soci.png"
                                        alt=""
                                        style="width: 100%; height: 100%; object-fit: contain; filter: brightness(0) invert(0.7);"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </body>
</html>